<nav id="mainNav" class="navbar navbar-default navbar-fixed-top bg-red"  style="height: 90px; background-color: white">
    <div class="container-fluid bg-white" style="height: 85px">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header align-middle">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll align-middle" href="#page-top">
                <img class="img-1 me-2 img-fluid align-middle" src='https://i.ibb.co/kmYdw3H/Pueblada-Factory-2.png'
    alt=""    height="80"  style='float: left; padding: 3px 3px 0px 3px;' />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse align-middle" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right align-middle">
                <li class="align-middle">
                    <a class="page-scroll" href="#about">Nosotros</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Servicios</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
